<form action="/login" class="login" method="post">
        <h3>Đăng Nhập</h3>
       <div class="login-box">

        <input name="username" type="text">
        <label for="">Tài Khoản:</label>
       </div>
       <div class="login-box">
        <input name="password" type="password" id="password">

        
        <label for="">Mật Khẩu:</label>
        <i class="fa-solid fa-eye-slash" id="checkpass"></i>
       </div>
<<<<<<< HEAD

        {{#if message}}
            <div class="error-message"> {{message}} </div>
        {{/if}}

       <button class="forgetPassword"> 
            <a href="/forgetPassword"> Quên mật khẩu </a>
        </button>

=======
>>>>>>> ade9496b553bf7b90bcf6dad6816f77d6926f5ce
       <div class="sm">
        <button type="submit" id="sm" >Đăng Nhập</button>
        <button>
            <a href="/login/federated/google">
                Đăng nhập với google 
            </a>
        </button>
        <button>
            <a href="/login/federated/facebook">
                Đăng nhập với facebook 
            </a>
        </button>
       </div>
       
        <h5><a href="/register">Đăng ký</a></h5>
       
    </form>

    <script>
        document.getElementById("checkpass").onclick = function(){
            document.getElementById("password").type = "text"
            console.log("jesd")
            document.getElementById("checkpass").setAttribute("class","fa-solid fa-eye")
        }
        console.log("hello")
    </script>